<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body background="./static/bg.jpg"
      style=" background-repeat:no-repeat;
      background-size:100% 100%;
      background-attachment: fixed;">
    <br>
    <h1 style="text-align:center"><font color="white">图片上传测试样例</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <br><br>
        <input type="file" name="file" style="margin-top:20px; margin-left:400px;" />
        <br>
        <i style="margin-left:400px;">请输入图片信息：</i>
        <input type="text" class="txt_input" name="name"  value="000" style="margin-top:10px;"/>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>
</body>
</html>

